.Navbar p::before,
.Navbar p::after {
    position: absolute;
    display: block;
    content: "";
    left: 140px; 
    width: 0.1px;
    height: 88px;
    opacity: 0.09;
    background-color: white;
}

.Navbar ul::before,
.Navbar ul::after {
    position: absolute;
    display: block;
    content: "";
    right: -50px; 
    width: 0.1px;
    height: 88px;
    opacity: 0.09;
    background-color: white;
}

.Navbar .search::before,
.Navbar .search::after {
    position: absolute;
    display: block;
    content: "";
    top: -100%;
    right: -50px; 
    width: 0.1px;
    height: 88px;
    opacity: 0.09;
    background-color: black;
}
