@keyframes slideLR {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animate-slideLR {
  animation: slideLR 3s ease-in-out infinite;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 2s ease;
}


@keyframes slideUpDown {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0%);
  }
}

.animate-slideUpDown {
  animation: slideUpDown 2s infinite ease-in-out alternate;
}


.stroke-text {
  -webkit-text-stroke: 1px #1f3d3b;
  color: transparent;
  transition: all 0.3s ease;
}

.stroke-text:hover {
  color: #1f3d3b;
}




@keyframes slowSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slowSpin 10s linear infinite; /* 👈 yaha speed control */
}





@keyframes slowSpin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin2 {
  animation: slowSpin 20s linear infinite; /* 👈 yaha speed control */
}
